[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autodoc = "*"
bump2version = "*"
coredis = "*"
flit = "*"
pylibmc = "*"
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-xdist = "*"
pytest-xprocess = "*"
redis = "*"
mypy = "*"
sphinx = "*"
tomli = "*"
tox = "*"
tox-pipenv-install = "*"

[packages]
falcon = ">=4.0.0"
limits = "*"
